

.display {
    position: relative;
    align-items: center;
    background-color: #f0f0f0;
    border: 10px solid #dddcdc;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin-top:3%;
  }
  .flex-column {
    padding-top: 10%;
  }
  input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
    text-align: center;
  }
  input.display-time.align-self-center {
    font-size: 70px;
    width: 200px;
    height: 100px;
  }
  
  .twoButton {
    position: absolute;
    bottom: 0px;
    /* left: -10px; */
  }
  .controls {
    width: 300px;
    height: 100px;
  }
  .btn-group, .btn-group-vertical {
    display: inline-flex;
  }
  
  i.anticon.anticon-caret-right {
    font-size: 2em;
  }
  
  .text-right {
    text-align: right!important;
    margin-right: -15%;
  }
  
  button.btn.btn-lg.btn-success {
    width: 26%;
    background: skyblue;
  }
  
  svg {
    font-size: 2em;
    margin-right: 3px;
  }
  
  nav.navbar.navbar-expand-sm.bg-dark.navbar-dark {
    display: flex;
    justify-content: center;
  }
  
  li.nav-item.active {
    display: flex;
  }
  p {
    color: white;
    font-size: 30px;
  }
  
  .text-rightpause {
    display: flex;
    justify-content: flex-end;
    margin-right: 9px;
  }
  .My-header {
    background-color :#ddd; 
    color : #808080; 
    line-height: 60px; 
    font-size: 2em;
    text-align: center
  }
  
  .mt-50 {
    margin-top: 60px;
  }
  h1 {
    margin-top: 30px ;
    color: #808080 ;
    font-size: 50px;
  }
  .center{
    width: 50%;
    margin: 0 auto;
  }