.calculator{
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}
.cal-button .button{
    width: 25%;  
    padding: 4%;
    font-size: 1.2em

}
.button-icon{
    width: 100%;
    margin-left: 10%;
}
.buttons{
    margin-left: 9%;
    margin-top: 2%;
}
.inputs input{
   border-radius: 10px;
   margin-left: 10%;
}
.calculator-header{
    width: 100%;
}
.view-history{
    width: 100%;
    padding: 4%
}
.cal-button{
    width: 100%
}
.cal-show-history{
    width: 100%;
    margin: 0 auto; 
}
.calculator-container{
    /* border: 1px solid #808080; */
    width: 50%;
    margin: 0 auto;
    margin-top: 0;
    padding: 20px; 
    padding-top: 0; 
}
.cal-display{
    font-size: 3em;
}
.cal-show-history-col-2{
    background: #fff;
    font-size: 2em;
}
.cal-button svg{
    font-size: .6em;
}
.cal-show-history svg{
    margin-top: 50%;
}
.calculator{
    width: 100%;
    background: #ddd;
    padding: 15px;
    margin: 0;
    color: #808080;
    text-align: center;
    font-size: 1.8em;
    border-radius: 5px
}