.Clicker{
    padding: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #808080;
    margin-left: 31%
}
input[type="checkbox"]
{
	position: relative;
	width: 100px;
	height: 40px;
	margin: 0;
	-webkit-appearance: none;
	outline: none;
	transition: 0.5s;
	cursor: pointer;
}
.span span
{
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	line-height: 40px;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	pointer-events: none;
	color: #fff;
	transform-style: preserve-3d;
}
.span span:nth-child(2)
{
	left: 0;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	background: #0f0;
}
.span span:nth-child(2):before
{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,#f00,#de0808);
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	transform-origin: right;
	transition: 1s;
	backface-visibility: hidden;
}
input[type="checkbox"]:checked ~ span:nth-child(2):before
{
	transform: rotateY(180deg);
}
.span span:nth-child(3)
{
	right: 0;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	background: #f00;
}
.span span:nth-child(3):before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,#0cd20c,#0f0);
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	transform-origin: left;
	transition: 1s;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
input[type="checkbox"]:checked ~ span:nth-child(3):before
{
	transform: rotateY(360deg);
}
.icon-clock{
	font-size: 1em;
	padding: 1% !important;
}
.container-time{
    border: 3px solid #dddd;
    width: 35%;
    height: 350px;
	margin: 0 auto;
	margin-top: 20px;
    border-radius: 100%;
    background: rgb(122,120,139);
background: linear-gradient(90deg, rgba(122,120,139,1) 0%, rgba(121,121,128,1) 99%, rgba(0,212,255,1) 100%);
    padding: 10px
}
.header,.toggle{
    font-size: 1em;
    color: #808080;
}
.header{
	margin-bottom: 30%
}
.container{
	padding: 0;
	margin: 0;
}
.clock{
	color: #808080;
	background: #ddd;
	width: 50%;
	padding: 0px !important;
	margin: 0 auto !important;
	font-size: 2em;
	text-align: center;
}
h1{
	margin-left: 20%;
}
.icon-circle{
	font-size: 2em;
}
.toggle{
	margin-left: 18%;
	color: aqua;
}
.time{
	color: aqua;
}