.Clicker{
    padding: 10px;
    width: 25%;
    height: auto;
    border: 2px solid #808080;
    padding: 0; 
    margin: 0 auto;
    margin-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.count{
    font-size: 5em;
    color: #808080;
    margin-left: 40%;
}
.row{
    margin-top: 30%
}
.col{
    color: #808080;
    background: #ddd;
    border-left: 1px solid #fff;
}
.clock-click{
	color: #808080;
	background: #ddd;
	width: 50%;
	padding: 10px !important;
	margin: 0 auto;
    font-size: 1.5em;
    text-align: center
}
.icon{
    padding: 20px
}
