.calculatorButton .button.ant-btn {
    width: 33.33% !important;
}
button.ant-btn.startButton {
    width: 100% !important;
    background-color: #808080;
}
input.ant-input {
    width: 33.33333333%;
}
.title {
    display: flex;
    justify-content: center;
    margin-left: 7%;
}


button.ant-btn.stopButton {
    width: 50% !important;
    background-color: #808080;
}

button.ant-btn.resetButton {
    width: 50% !important;
    background-color: #808080;
}
.Button {
    display: flex;
}
.caculartor{
    margin: 3% 0 0 30%;
}
.button{
    padding: 50px;
}
.input{
    padding: 30px;
    background: rgb(182, 182, 182) !important;
    color: aqua !important;
    font-size: 2.5em;
}
.startButton, .stopButton,.resetButton{
    color: aqua;
    font-size: 1.5em;
}
.head-react{
    width: 50%;
    margin-left: 22%;
}